<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="wg2svgConfigPath" value="C:\Repos\wg2shp\Grundfos.WG2SHP.ConsoleApp\bin\Debug\Grundfos.WG2SVG.ConsoleApp.exe.config"/>
    <add key="symmetricalRangeToleranceFactor" value="0.0"/>
    <add key="legendEntryFormat" value="{0:0.###################################################################################################################################################################################################################################################################################################################################################} ÷ {1:0.###################################################################################################################################################################################################################################################################################################################################################}"/>
  </appSettings>
</configuration>
