<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZtmBusStopListFileName" value="Files\Ztm\stops.txt"/>
    <add key="OsmBusStopListFileName" value="Files\Osm\BusStopList.xml"/>
    <add key="ResultFileName" value="Files\Result.xml"/>
    <add key="Report01FileName" value="Files\Reports\Report01.csv"/>
    <add key="OsmUrl" value="https://overpass-api.de/api/map"/>

    <add key="OsmContentType" value="application/json"/>
    <add key="OsmFilter" value="node [~'highway|railway'~'tram_stop|bus_stop'] (49.558915859179, 18.212585449219, 50.496783462923, 19.951171875); out;"/>
    <add key="ResultFileName2" value="Files\Result2.xml"/>
    <!--
    <add key="OsmFilter" value="node['highway'='bus_stop']['bus'='yes']['network'='Zarząd Transportu Metropolitalnego'](49.5,18.5,50.7,19.9);out;"/>
    -->


    <!--
    <add key="OsmContentType" value="application/xml"/>
    <add key="OsmFilter" value="
      &lt;osm-script&gt;
        &lt;query into='_' type='node'&gt;
          &lt;has-kv k = 'highway' modv = '' v = 'bus_stop' /&gt;
          &lt;bbox-query s = '49.558915859179' w = '18.212585449219' n = '50.496783462923' e = '19.951171875' /&gt;
        &lt;/query &gt;
        &lt;print e = '' from = '_' geometry = 'skeleton' ids = 'yes' limit = '' mode = 'body' n = '' order = 'id' s = '' w = '' /&gt;
      &lt;/osm-script &gt;
    "/>
    -->
    <!--
      <osm-script>
        <query into='_' type='node'>
          <has-kv k = 'highway' modv = '' v = 'bus_stop' />
          <bbox-query s = '49.558915859179' w = '18.212585449219' n = '50.496783462923' e = '19.951171875' />
        </query >
        <print e = '' from = '_' geometry = 'skeleton' ids = 'yes' limit = '' mode = 'body' n = '' order = 'id' s = '' w = '' />
      </osm-script >
    -->

    <add key="MaxMeterDistance" value="20"/>
    <add key="WorkArea" value="50.2535,18.9899,50.2826,19.0707"/>

  </appSettings>
</configuration>