<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="TWDB" connectionString="data source=.;initial catalog=TWDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="opcAddress" value="Kepware.KEPServerEX.V6"/>
	<add key="ExcelTemplateFileName" value="TestData\WB-EasyCalc - sample from GM.xlsm"/>
    <!--
    <add key="ExcelTemplateFileName" value="TestData\WB-EasyCalc_decrypted.xlsm"/>
	-->
  </appSettings>
</configuration>
