<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="wg2svg" type="Grundfos.WG2SVG.Configuration.Wg2SvgConfigurationSection, Grundfos.WG2SVG.Configuration"/>
  </configSections>
  <appSettings>
    <add key="opcTagExtractRegex" value="OPCTest_WG_\d\d%(?&lt;opcTag&gt;.*)#\d*"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
	
<wg2svg>
    <datasource 
        waterGemsFileName="K:\temp\sandbox\Nowy model testowy\testOPC.wtg.sqlite" 
		connectionString="Server=localhost;Database=_TWDB;User Id=tw_user;Password=Gfosln123.;"
		>
        <dataSourceMapConfiguration 
			wg2OpcMapFileName="TestData\KepEx.xlsx" 
		    twVar2OpcMapFileName="TestData\Tw.xlsx" 
		    twVar2IDMapFileName="TestData\TelSrv.map"
		    />
      
        <!--
        <tableDiscoveryConfiguration 
	        getTableSql="SELECT 'TELWIN_CUR' TABLE_NAME"
            tableNameColumn="TABLE_NAME" 
			columnNameColumn="COLUMN_NAME" 
			tableNameRegex="AR_(?&lt;signal&gt;\d*)_(?&lt;year&gt;\d*)"/>
        -->
        <tableDiscoveryConfiguration 
			getTableSql="SELECT 'TELWIN_CUR' TABLE_NAME"
            tableNameColumn="TABLE_NAME" 
		/>
      
        <signalDiscoveryConfiguration 
            unionCommand="UNION ALL" 
            selectCommand="SELECT D_NAME, D_TIME, D_VALUE_INT, D_VALUE_FLO, D_TYPE FROM {0} WHERE D_TIME > @time"
            tableNameColumn="TABLE_NAME" 
            floatValueColumn="D_VALUE_FLO" 
            integerValueColumn="D_VALUE_INT" 
            idColumn="D_NAME" 
            timeColumn="D_TIME" 
            dataTypeColumn="D_TYPE"
            pageSize="1000"
            intervalSeconds="86400"
			>
			
        <integerDataTypes>
            <item value="150"/>
            <item value="141"/>
            <item value="140"/>
            <item value="161"/>
            <item value="131"/>
            <item value="151"/>
            <item value="160"/>
            <item value="132"/>
        </integerDataTypes>
        <floatDataTypes>
            <item value="170"/>
            <item value="171"/>
            <item value="172"/>
        </floatDataTypes>
        </signalDiscoveryConfiguration>
    </datasource>
	
    <targets>
      <target fileName="K:\temp\map-network-static.svg">
        <strokeWidthSettings defaultWidth="1.9" pipeDiameterToWidthFactor="3.9" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <labelColorRules>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="54">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="56">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="60">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="61">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="62">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="64">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="65">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="66">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="68">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="69">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="72">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="55">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
          <labelColorRule objectTypeID="52">
            <rule labelToken="-S" color="255,127,39"/>
            <rule labelToken="-H" color="255,196,225"/>
            <rule labelToken="-BE" color="128,128,128"/>
          </labelColorRule>
        </labelColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-pipe-flow.svg">
        <legend fileName="K:\temp\legend-pipe-flow.png" width="190" height="190" description="Przepływ [m³/h]" horizontalPadding="12" verticalPadding="18" fontSize="10"/>
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="69" attributeID="13">
            <valueColors>
              <valueColor greaterOrEqualTo="-1.7976931348623157E+308" lessThan="-50" color="255,0,0"/>
              <valueColor greaterOrEqualTo="-50" lessThan="-3" color="255,178,0"/>
              <valueColor greaterOrEqualTo="-3" lessThan="-0.5" color="0,169,0"/>
              <valueColor greaterOrEqualTo="-0.5" lessThan="0" color="0,0,255"/>
              <valueColor greaterOrEqualTo="0" lessThan="0.5" color="0,0,255"/>
              <valueColor greaterOrEqualTo="0.5" lessThan="3" color="0,169,0"/>
              <valueColor greaterOrEqualTo="3" lessThan="50" color="255,178,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-pipe-velocity.svg">
        <legend fileName="K:\temp\legend-pipe-velocity.png" width="190" height="190" description="Prędkość przepływu [m/s]" horizontalPadding="12" verticalPadding="18" fontSize="10"/>
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="69" attributeID="14">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="0.001" color="0,0,255"/>
              <valueColor greaterOrEqualTo="0.001" lessThan="0.02" color="0,169,0"/>
              <valueColor greaterOrEqualTo="0.02" lessThan="0.1" color="255,178,0"/>
              <valueColor greaterOrEqualTo="0.1" lessThan="2" color="255,0,0"/>
              <valueColor greaterOrEqualTo="2" lessThan="1.7976931348623157E+308" color="127,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-junction-pressure.svg">
        <legend fileName="K:\temp\legend-junction-pressure.png" width="190" height="190" description="Ciśnienie [m H₂O]" horizontalPadding="12" verticalPadding="18" fontSize="10"/>
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="55" attributeID="20">
            <valueColors>
              <valueColor greaterOrEqualTo="-1" lessThan="36" color="0,0,255"/>
              <valueColor greaterOrEqualTo="36" lessThan="39" color="0,169,0"/>
              <valueColor greaterOrEqualTo="39" lessThan="41" color="255,178,0"/>
              <valueColor greaterOrEqualTo="41" lessThan="45" color="255,0,0"/>
              <valueColor greaterOrEqualTo="45" lessThan="1.7976931348623157E+308" color="127,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-junction-hydrant-demand.svg">
        <legend fileName="K:\temp\legend-junction-hydrant-demand.png" width="190" height="190" description="Rozbiór wody [m³/h]" horizontalPadding="12" verticalPadding="18" fontSize="10"/>
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="54" attributeID="22">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="0.05" color="0,0,255"/>
              <valueColor greaterOrEqualTo="0.05" lessThan="1" color="0,169,0"/>
              <valueColor greaterOrEqualTo="1" lessThan="5" color="255,178,0"/>
              <valueColor greaterOrEqualTo="5" lessThan="50" color="255,0,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="1.7976931348623157E+308" color="127,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="55" attributeID="22">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="0.05" color="0,0,255"/>
              <valueColor greaterOrEqualTo="0.05" lessThan="1" color="0,169,0"/>
              <valueColor greaterOrEqualTo="1" lessThan="5" color="255,178,0"/>
              <valueColor greaterOrEqualTo="5" lessThan="50" color="255,0,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="1.7976931348623157E+308" color="127,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-junction-tank-hydrant-hgl.svg">
        <legend fileName="K:\temp\legend-junction-tank-hydrant-hgl.png" width="190" height="190" description="Rzędna linii ciśnień [m H₂O]" horizontalPadding="12" verticalPadding="18" fontSize="10"/>
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="52" attributeID="8">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="155" color="0,0,255"/>
              <valueColor greaterOrEqualTo="155" lessThan="165" color="0,169,0"/>
              <valueColor greaterOrEqualTo="165" lessThan="189" color="255,178,0"/>
              <valueColor greaterOrEqualTo="189" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="54" attributeID="21">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="155" color="0,0,255"/>
              <valueColor greaterOrEqualTo="155" lessThan="165" color="0,169,0"/>
              <valueColor greaterOrEqualTo="165" lessThan="189" color="255,178,0"/>
              <valueColor greaterOrEqualTo="189" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="55" attributeID="21">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="155" color="0,0,255"/>
              <valueColor greaterOrEqualTo="155" lessThan="165" color="0,169,0"/>
              <valueColor greaterOrEqualTo="165" lessThan="189" color="255,178,0"/>
              <valueColor greaterOrEqualTo="189" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-junction-tank-hydrant-trace.svg">
        <legend fileName="K:\temp\legend-junction-tank-hydrant-trace.png" width="190" height="190" description="Ślad ZPW [%]" horizontalPadding="12" verticalPadding="18" fontSize="10"/>
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="52" attributeID="28">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="25" color="0,0,255"/>
              <valueColor greaterOrEqualTo="25" lessThan="50" color="0,169,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="75" color="255,178,0"/>
              <valueColor greaterOrEqualTo="75" lessThan="100" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="54" attributeID="25">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="25" color="0,0,255"/>
              <valueColor greaterOrEqualTo="25" lessThan="50" color="0,169,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="75" color="255,178,0"/>
              <valueColor greaterOrEqualTo="75" lessThan="100" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="55" attributeID="25">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="25" color="0,0,255"/>
              <valueColor greaterOrEqualTo="25" lessThan="50" color="0,169,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="75" color="255,178,0"/>
              <valueColor greaterOrEqualTo="75" lessThan="100" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-junction-tank-hydrant-age.svg">
        <legend fileName="K:\temp\legend-junction-tank-hydrant-age.png" width="190" height="190" description="Wiek wody [min]" horizontalPadding="12" verticalPadding="18" fontSize="10"/>
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="52" attributeID="26">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="60" color="0,0,255"/>
              <valueColor greaterOrEqualTo="60" lessThan="180" color="0,169,0"/>
              <valueColor greaterOrEqualTo="180" lessThan="1440" color="255,178,0"/>
              <valueColor greaterOrEqualTo="1440" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="54" attributeID="23">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="60" color="0,0,255"/>
              <valueColor greaterOrEqualTo="60" lessThan="180" color="0,169,0"/>
              <valueColor greaterOrEqualTo="180" lessThan="1440" color="255,178,0"/>
              <valueColor greaterOrEqualTo="1440" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="55" attributeID="23">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="60" color="0,0,255"/>
              <valueColor greaterOrEqualTo="60" lessThan="180" color="0,169,0"/>
              <valueColor greaterOrEqualTo="180" lessThan="1440" color="255,178,0"/>
              <valueColor greaterOrEqualTo="1440" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-junction-tank-hydrant-concentration.svg">
        <legend fileName="K:\temp\legend-junction-tank-hydrant-concentration.png" width="190" height="190" description="Wolny chlor [mg/l]" horizontalPadding="12" verticalPadding="18" fontSize="10"/>
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="52" attributeID="27">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="25" color="0,0,255"/>
              <valueColor greaterOrEqualTo="25" lessThan="50" color="0,169,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="100" color="255,178,0"/>
              <valueColor greaterOrEqualTo="100" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="54" attributeID="24">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="25" color="0,0,255"/>
              <valueColor greaterOrEqualTo="25" lessThan="50" color="0,169,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="100" color="255,178,0"/>
              <valueColor greaterOrEqualTo="100" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="55" attributeID="24">
            <valueColors>
              <valueColor greaterOrEqualTo="0" lessThan="25" color="0,0,255"/>
              <valueColor greaterOrEqualTo="25" lessThan="50" color="0,169,0"/>
              <valueColor greaterOrEqualTo="50" lessThan="100" color="255,178,0"/>
              <valueColor greaterOrEqualTo="100" lessThan="1.7976931348623157E+308" color="255,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
      <target fileName="K:\temp\map-disabled-objects.svg">
        <strokeWidthSettings defaultWidth="2" pipeDiameterToWidthFactor="4" symbolWidth="0.2" diameterFieldName="Physical_PipeDiameter"/>
        <attributeColorRules>
          <attributeColorRule objectTypeID="69" attributeID="-1">
            <valueColors>
              <valueColor greaterOrEqualTo="-1.7976931348623157E+308" lessThan="0.9" color="0,0,0,0"/>
              <valueColor greaterOrEqualTo="0.9" lessThan="1.1" color="255,0,255"/>
              <valueColor greaterOrEqualTo="1.1" lessThan="1.7976931348623157E+308" color="0,0,0,0"/>
            </valueColors>
          </attributeColorRule>
          <!--
          -->
          <attributeColorRule objectTypeID="68" attributeID="2">
            <valueColors>
              <valueColor greaterOrEqualTo="-1.7976931348623157E+308" lessThan="-0.1" color="0,0,0,0"/>
              <valueColor greaterOrEqualTo="-0.1" lessThan="0.1" color="255,0,255"/>
              <valueColor greaterOrEqualTo="0.1" lessThan="1.7976931348623157E+308" color="0,0,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="72" attributeID="2">
            <valueColors>
              <valueColor greaterOrEqualTo="-1.7976931348623157E+308" lessThan="-0.1" color="0,0,0,0"/>
              <valueColor greaterOrEqualTo="-0.1" lessThan="0.1" color="255,0,255"/>
              <valueColor greaterOrEqualTo="0.1" lessThan="1.7976931348623157E+308" color="0,0,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="66" attributeID="16">
            <valueColors>
              <valueColor greaterOrEqualTo="-1.7976931348623157E+308" lessThan="1.9" color="0,0,0,0"/>
              <valueColor greaterOrEqualTo="1.9" lessThan="2.1" color="255,0,255"/>
              <valueColor greaterOrEqualTo="2.1" lessThan="1.7976931348623157E+308" color="0,0,0,0"/>
            </valueColors>
          </attributeColorRule>
          <attributeColorRule objectTypeID="61" attributeID="16">
            <valueColors>
              <valueColor greaterOrEqualTo="-1.7976931348623157E+308" lessThan="1.9" color="0,0,0,0"/>
              <valueColor greaterOrEqualTo="1.9" lessThan="2.1" color="255,0,255"/>
              <valueColor greaterOrEqualTo="2.1" lessThan="1.7976931348623157E+308" color="0,0,0,0"/>
            </valueColors>
          </attributeColorRule>
        </attributeColorRules>
        <transformations>
          <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="0.1673213120369303" />
          <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
          <transformation sequenceNumber="3" transformationType="Move" moveX="-948714.1" moveY="934841.3" />
          <transformation sequenceNumber="4" transformationType="ResizeCanvas" canvasWidth="1338.375" canvasHeight="1477.0625" />
        </transformations>
      </target>
  </targets>
</wg2svg>
</configuration>
