<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="wg2svg" type="Grundfos.WG2TW.XML.ConsoleApp.Configuration.Wg2TwConfigurationSection, Grundfos.WG2TW.XML.ConsoleApp"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="opcTagExtractRegex" value="OPCTest_WG_\d\d%(?&lt;opcTag&gt;.*)#\d*"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
  <wg2svg>
    <datasource waterGemsFileName="C:\Repos\wg-postcalc\WGModel\testOPC.wtg.sqlite" connectionString="Server=localhost;Database=MSSQL2017TWDB;User Id=tw_user;Password=Gfosln123.;">
      <dataSourceMapConfiguration wg2OpcMapFileName="TestData\KepEx.xlsx"
                                  twVar2OpcMapFileName="TestData\Tw.xlsx"
                                  twVar2IDMapFileName="TestData\TelSrv.map"/>
    </datasource>
    <buttonFactoryConfiguration buttonWidth="4" buttonHeight="4">
      <transformations>
        <transformation sequenceNumber="1" transformationType="Scale" scaleX="0.1673213120369303" scaleY="-0.1673213120369303" />
        <transformation sequenceNumber="2" transformationType="Rotate" rotateByDegrees="0.935" />
        <transformation sequenceNumber="3" transformationType="Move" moveX="-948738.005" moveY="934734.043797687" />
      </transformations>
      <buttonTemplates>
        <buttonTemplate objectType="Pipe" buttonTemplatePath="TestData\button-pipe.xml" />
        <buttonTemplate objectType="Junction" buttonTemplatePath="TestData\button-junction.xml" />
        <buttonTemplate objectType="Tank" buttonTemplatePath="TestData\button-tank.xml" />
        <buttonTemplate objectType="IdahoHydrant" buttonTemplatePath="TestData\button-hydrant.xml" />
        <buttonTemplate objectType="Reservoir" buttonTemplatePath="TestData\button-reservoir.xml" />
        <buttonTemplate objectType="PBV" buttonTemplatePath="TestData\button-pbv.xml" />
        <buttonTemplate objectType="FCV" buttonTemplatePath="TestData\button-fcv.xml" />
        <buttonTemplate objectType="TCV" buttonTemplatePath="TestData\button-tcv.xml" />
        <buttonTemplate objectType="GPV" buttonTemplatePath="TestData\button-gpv.xml" />
        <buttonTemplate objectType="PRV" buttonTemplatePath="TestData\button-prv.xml" />
        <buttonTemplate objectType="PSV" buttonTemplatePath="TestData\button-psv.xml" />
        <buttonTemplate objectType="StandardPump" buttonTemplatePath="TestData\button-standardpump.xml" />
        <buttonTemplate objectType="IsolationValve" buttonTemplatePath="TestData\button-isolationvalve.xml" />
        <buttonTemplate objectType="VariableSpeedPumpBattery" buttonTemplatePath="TestData\button-variablespeedpumpbattery.xml" />
      </buttonTemplates>
    </buttonFactoryConfiguration>
    <xmlProcessorConfiguration elementsXPath="Elements"
                               buttonPrefix="Przycisk_Dynamiczny"
                               changeListXPath="Function/ChangeList"
                               pointBoxesXPath="PointBoxes/PointBox">
      <targets>
        <target templateFileName="TestData\warstwa_przyciski.xml"
                destinationFileName="TestData\przyciski_wezly.xml"
                objectTypes="Junction" />
        <target templateFileName="TestData\warstwa_przyciski.xml"
                destinationFileName="TestData\przyciski_rury.xml"
                objectTypes="Pipe" />
        <target templateFileName="TestData\warstwa_przyciski.xml"
                destinationFileName="TestData\przyciski_inne.xml"
                objectTypes="Tank,IdahoHydrant,Reservoir,FCV,PBV,TCV,GPV,PRV,PSV,StandardPump,IsolationValve,VariableSpeedPumpBattery" />
      </targets>
  </xmlProcessorConfiguration>
  </wg2svg>
</configuration>