<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <wg2svg>
    <datasource xdt:Transform="SetAttributes"
                waterGemsFileName="..\WGModel\testOPC.wtg.sqlite"
                connectionString="Server=192.168.0.62\MSSQL2017;Database=TWDB;User Id=tw_user;Password=Gfosln123.;" >
      <dataSourceMapConfiguration xdt:Transform="SetAttributes"
                                  wg2OpcMapFileName="..\WG_OPC\KepEx.xlsx"
                                  twVar2OpcMapFileName="..\WG_OPC\TelWin.xlsx"
                                  twVar2IDMapFileName="\\WIN-C02NRM4VBF3\TelWin SCADA\App\TelSrv.map" />
    </datasource>
    <buttonFactoryConfiguration>
      <buttonTemplates>
        <buttonTemplate objectType="Pipe" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-pipe.xml"  />
        <buttonTemplate objectType="Junction" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-junction.xml" />
        <buttonTemplate objectType="Tank" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-tank.xml" />
        <buttonTemplate objectType="IdahoHydrant" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-hydrant.xml" />
        <buttonTemplate objectType="Reservoir" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-reservoir.xml" />
        <buttonTemplate objectType="PBV" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-pbv.xml" />
        <buttonTemplate objectType="FCV" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-fcv.xml" />
        <buttonTemplate objectType="TCV" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-tcv.xml" />
        <buttonTemplate objectType="GPV" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-gpv.xml" />
        <buttonTemplate objectType="PRV" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-prv.xml" />
        <buttonTemplate objectType="PSV" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-psv.xml" />
        <buttonTemplate objectType="StandardPump" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-standardpump.xml" />
        <buttonTemplate objectType="IsolationValve" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-isolationvalve.xml" />
        <buttonTemplate objectType="VariableSpeedPumpBattery" xdt:Locator="Match(objectType)" xdt:Transform="SetAttributes" buttonTemplatePath="C:\WG2TW\TW_Przyciski\button-variablespeedpumpbattery.xml" />
      </buttonTemplates>
    </buttonFactoryConfiguration>
    <xmlProcessorConfiguration>
      <targets>
        <target destinationFileName="TestData\przyciski_wezly.xml"
                xdt:Transform="Remove"/>
        <target xdt:Transform="Insert"
                templateFileName="C:\WG2TW\TW_Przyciski\warstwa_przyciski.xml"
                destinationFileName="\\WIN-C02NRM4VBF3\TelWin SCADA\App\Sh\Zarządzanie systemem wodociągowym\Dane pomiarowe i symulacyjne\Przyciski\przyciski_wezly.xml"
                objectTypes="Junction" />
        <target destinationFileName="TestData\przyciski_rury.xml"
                xdt:Transform="Remove"/>
        <target xdt:Transform="Insert"
                templateFileName="C:\WG2TW\TW_Przyciski\warstwa_przyciski.xml"
                destinationFileName="\\WIN-C02NRM4VBF3\TelWin SCADA\App\Sh\Zarządzanie systemem wodociągowym\Dane pomiarowe i symulacyjne\Przyciski\przyciski_rury.xml"
                objectTypes="Pipe" />
        <target destinationFileName="TestData\przyciski_inne.xml"
                xdt:Transform="Remove" />
        <target xdt:Transform="Insert"
                templateFileName="C:\WG2TW\TW_Przyciski\warstwa_przyciski.xml"
                destinationFileName="\\WIN-C02NRM4VBF3\TelWin SCADA\App\Sh\Zarządzanie systemem wodociągowym\Dane pomiarowe i symulacyjne\Przyciski\przyciski_inne.xml"
                objectTypes="Tank,IdahoHydrant,Reservoir,FCV,PBV,TCV,GPV,PRV,PSV,StandardPump,IsolationValve,VariableSpeedPumpBattery" />
      </targets>
    </xmlProcessorConfiguration>
  </wg2svg>
</configuration>