<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Add your new Configuration Section here -->
    <section name="zoneConfiguration"
             type="Grundfos.WB.EasyCalc.Console.Configuration.ZoneConfigurationSection, Grundfos.WB.EasyCalc.Console"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="twdb" connectionString="Server=WIN-C02NRM4VBF3\MSSQL2017;Database=TWDB;User Id=tw_user;Password=Gfosln123.;" />
  </connectionStrings>
  <appSettings>
    <add key="opcAddress" value="Kepware.KEPServerEX.V6"/>
    <add key="opcTagFormat" value="WbEasyCalc_{0}.DEV.{1}"/>
  </appSettings>
  <zoneConfiguration>
    <instances>
      <add name="I"/>
      <add name="II"/>
      <add name="III"/>
      <add name="IV"/>
      <add name="V"/>
      <add name="VI"/>
      <add name="VII"/>
      <add name="VIII"/>
      <add name="IX"/>
    </instances>
  </zoneConfiguration>
</configuration>