<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="nlog.ERRORS.txt" internalLogLevel="Error">

  <!-- 
          See http://nlog-project.org/wiki/Configuration_file 
          for information on customizing logging rules and outputs.
        -->
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File" name="file_log" keepFileOpen="true" fileName="${basedir}/log/${appdomain:format={1\}}.log" archiveFileName="${basedir}/log/Grundfos.WG2SVG.{#}.log" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="time" layout="${longdate}"/>
        <column name="level" layout="${level:uppercase=true:padding=-5}"/>
        <column name="logger" layout="${logger:shortName=true}"/>
        <column name="message" layout="${message}"/>
        <column name="exception" layout="${exception:format=tostring}"/>
      </layout>
    </target>
    <target name="log_all_memory" xsi:type="Memory" layout="${longdate}	${level:uppercase=true:padding=-5}	${logger:shortName=true}	${message}	${exception:format=tostring}"/>
    <target name="logconsole" xsi:type="Console" layout="${date:HH\:mm\:ss.fff}	${message}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="file_log"/>
    <logger name="*" minlevel="Trace" writeTo="log_all_memory"/>
    <logger name="*" minlevel="Info" writeTo="logconsole"/>
  </rules>
</nlog>
