<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Add your new Configuration Section here -->
    <section name="zoneMapping"
             type="Grundfos.WB.ReportConnector.Configuration.MappingConfigurationSection, Grundfos.WB.ReportConnector"/>
    <section name="zoneFieldMapping"
             type="Grundfos.WB.ReportConnector.Configuration.MappingConfigurationSection, Grundfos.WB.ReportConnector"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="gisConnectionString" connectionString="Server=192.168.0.24;Port=5432;User Id=zsviewer;Password=DoZmiany123;Database=legnica;" />
  </connectionStrings>
  <appSettings>
    <add key="zoneDataQuery" value="SELECT * FROM gis_data.zuzycia_stref"/>
    <add key="zoneNameColumn" value="nazwa_strefy"/>
    <add key="opcAddress" value="Kepware.KEPServerEX.V6"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <zoneMapping>
    <entries>
      <add source="I" destination="I"/>
      <!--<add source="II" destination="II"/>
      <add source="III" destination="III"/>
      <add source="IV" destination="IV"/>
      <add source="V" destination="V"/>
      <add source="VI" destination="VI"/>
      <add source="VII" destination="VII"/>
      <add source="VIII" destination="VIII"/>
      <add source="IX" destination="IX"/>-->
    </entries>
  </zoneMapping>
  <zoneFieldMapping>
    <entries>
      <add source="dlugosc_sieci" destination="WbEasyCalc_{0}.DEV.Network_DistributionAndTransmissionMains_D7"/>
      <add source="ilosc_przylaczy" destination="WbEasyCalc_{0}.DEV.Network_NoOfConnOfRegCustomers_H10"/>
      <add source="sprzedaz_w_strefie" destination="WbEasyCalc_{0}.DEV.BilledCons_BilledMetConsBulkWatSupExpM3_D6"/>
    </entries>
  </zoneFieldMapping>
</configuration>